*.py linguist-detectable=true
*.py linguist-language=Python

*.html linguist-detectable=true
*.html linguist-language=HTML

*.css linguist-detectable=true
*.css linguist-language=CSS

*.js linguist-detectable=true
*.js linguist-language=JavaScript
